In [5]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6      ✔ purrr   0.3.5
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [6]:
some_numbers <- c(0,1,2,3,4,5,6,7,8,9)
some_numbers <- c(0:9)
some_numbers
mean(some_numbers)

 [1] 0 1 2 3 4 5 6 7 8 9

[1] 4.5

In [10]:
paygap <- read.csv('/content/Data/gender-paygap-2019.csv', header = TRUE)
#change the file path to whatever you have it as

In [11]:
head(paygap, n = 5)
dim(paygap)

  EmployerName                                         EmployerId
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY' 19070
2 10 TRINITY SQUARE HOTEL LIMITED                      19455
3 1LIFE MANAGEMENT SOLUTIONS LIMITED                     687
4 1ST CHOICE STAFF RECRUITMENT LIMITED                 18136
5 1ST HOME CARE LTD.                                   17484
  Address
1 Aberystwyth University, Penglais, Ceredigion, SY23 3FL
2 5 Market Yard Mews, 194-204 Bermondsey Street, London, United Kingdom, SE1 3TQ
3 Ldh House St Ives Business Park, Parsons Green, St. Ives, Cambridgeshire, PE27 4AA
4 1ST CHOICE RECRUITMENT, 8 St. Loyes Street, Bedford, MK40 1EP
5 Real Life Options, 35 East Port, Dunfermline, Fife, Scotland, KY12 7LG
  PostCode CompanyNumber SicCodes              DiffMeanHourlyPercent
1 SY23 3FL RC000641                            11.5
2 SE1 3TQ  08064685      82990                  8.7
3 PE27 4AA 02566586      93110,\n93130,\n93290 11.0
4 MK40 1EP 07972006      78109                 -2.3
5 KY12 7LG SC272838      86900,\n88100         -2.0
  DiffMedianHourlyPercent DiffMeanBonusPercent DiffMedianBonusPercent ⋯
1 10.3                        NA                   NA                 ⋯
2 10.3                      29.6                 54.5                 ⋯
3 -0.5                      81.5                 94.2                 ⋯
4  0.0                    -114.8               -249.3                 ⋯
5  0.5                        NA                   NA                 ⋯
  FemaleUpperMiddleQuartile MaleTopQuartile FemaleTopQuartile
1 60.0                      62.0            38.0
2 21.1                      66.7            33.3
3 57.7                      44.2            55.8
4 37.1                      50.0            50.0
5 91.0                       9.0            91.0
  CompanyLinkToGPGInfo
1 https://www.aber.ac.uk/en/equality/genderpaygapreporting2019/ \n\nhttps://www.aber.ac.uk/cy/equality/gender-pay-gap/
2
3 https://www.1life.co.uk/gender-pay-gap
4 https://www.1stchoice.net/gender-pay-gap-report-2019/
5 https://reallifeoptions.org/
  ResponsiblePerson                              EmployerSize
1 Elizabeth Treasure (Vice-Chancellor)           1000 to 4999
2 Linda Stigter (Director of People and Culture) 250 to 499
3 Mark Braithwaite (Managing Director)           250 to 499
4 Gill Knight (MD)                               250 to 499
5 Ian Hardcastle (Chief Operating Officer)       250 to 499
  CurrentName
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY'
2 10 TRINITY SQUARE HOTEL LIMITED
3 1LIFE MANAGEMENT SOLUTIONS LIMITED
4 1ST CHOICE STAFF RECRUITMENT LIMITED
5 1ST HOME CARE LTD.
  SubmittedAfterTheDeadline DueDate             DateSubmitted
1 False                     2020/04/05 00:00:00 2020/04/03 14:47:45
2 False                     2020/04/05 00:00:00 2020/03/19 15:51:20
3 False                     2020/04/05 00:00:00 2020/03/10 17:03:17
4 False                     2020/04/05 00:00:00 2020/01/24 09:37:01
5 False                     2020/04/05 00:00:00 2020/03/12 08:21:06

[1] 6921   27

In [12]:
class(paygap)

[1] "data.frame"

In [13]:
class(paygap$DiffMeanHourlyPercent)

[1] "numeric"

In [14]:
cardiacdata[1,3]
#could not find caridac data to work with

ERROR: ignored